{% extends 'layout.html.twig' %}
{% block content %}
<div class="container invoice">
    <div class="invoice-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Console Bought</h3>
            </div>

            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Item / Details</th>
                    
                    <th class="text-center colfix">Cost($)</th>
                </tr>
                </thead>
                <tbody>
                     {% for item in items %}
                        <tr>
                            <td class="itemText">{{ item.type }}, {{ item.make }}
                            {% if item.listextras is defined and item.listextras is not empty %}
                                {% for extra in item.listextras %}
                                    <br/>
                                    <small class="text-muted">({{ loop.index }}) {{ extra.wired  ~ ' '~ extra.type }}</small>
                                {% endfor %}
                                
                            {% endif %}
                            </td>
                            <td class="text-right">
                            <small class="text-muted mono priceTxt"> {{ item.price  }}</small>
                                {% if item.listextras is defined and item.listextras is not empty %}
                                    {% for extra in item.listextras %}
                                        <br/>
                                        <small class="text-muted mono priceTxt">{{ extra.price }}</small>
                                    {% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="colBorder">Total Price</td>
                        <td class="colBorder">
                            <strong class="mono priceTxt">${{ items[0].totalPrice | number_format(2) }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}